* {
    margin: 0px;
    padding: 0px;
    background-color: hsl(214, 47%, 23%);

}


.container {


    height: 950px;



    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 3px;
        padding: 7px 20px;
        width: 50%;
        margin: 18px auto;
        margin-bottom: 100px;



        .score {

            border-radius: 4px;
            box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.75);
            width: 111px;
            height: 92px;
            background-color: white;


            h1 {
                text-align: center;
                color: rgb(15, 15, 247);
                background-color: white;

            }

            p {
                text-align: center;
                margin-top: 10px;
                font-size: 40px;
                color: rgb(65, 79, 119);
                background-color: white;
            }

        }
    }

    #choices {
        width: 100%;
        text-align: center;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        visibility: hidden;

        #play-again {
            width: 200px;
            height: 50px;
            border-radius: 12px;
            color: #091529;
            background-color: rgb(255, 255, 255);
            border: none;
            font-weight: bold;
            cursor: pointer;
            outline: none;
        }



    }

    .pics {

        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 2fr;


        .pic1 {
            grid-column: 2/3;
            grid-row: 1/2;
            justify-self: center;
            cursor: pointer;
            width: 45%;


        }

        .pic2 {
            grid-column: 3/4;
            grid-row: 1/2;
            justify-self: center;
            cursor: pointer;
            width: 45%;

        }

        .pic3 {

            grid-column: 2/4;
            grid-row: 2/3;
            justify-self: center;
            align-self: center;
            cursor: pointer;
            width: 24%;

        }
    }

    .rules {


        button {
            padding: 14px 45px;
            margin: 10px;
            float: right;
            background-color: rgba(255, 0, 0, 0);
            border: 3px solid white;
            border-radius: 10px;
            color: white;
            outline: none;

        }

        .rules-image {
            display: none;

            img {
                background-color: rgb(255, 255, 255);
                padding: 80px;
                border-radius: 10%;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -232px;
                margin-top: -215px;

            }




        }

    }

}